body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

.header {
  background: #1a0000;
  padding: 15px;
  text-align: center;
  border-bottom: 2px solid red;
}

.card {
  margin: 20px;
  padding: 20px;
  background: #151515;
  border-radius: 10px;
  border: 1px solid #2a0000;
}

button {
  background: red;
  border: none;
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

input {
  padding: 10px;
  background: black;
  border: 1px solid red;
  color: white;
}